@import '../../styles/mixin.scss';


.sharp{
  cursor: pointer;
  width:vw(120);
  height:vw(60);
  background:rgba(24, 144, 255, 0.2);
  display: inline-block;
  position: absolute;
  word-break: break-all;
  line-height: vw(60);
  color:#FFFFFF;
  font-size: vw(20);
  text-align: center;
  border-radius: vw(5);
}


