@import '../../styles/mixin.scss';
.sharp:before{
  content:"";
  width:0;
  border-bottom:vw(80) solid transparent;
  border-top:vw(80) solid transparent;
  border-right:vw(40) solid #6c6;
  position:absolute;
  left:vw(-40);
  top:0px;
}

.sharp{
  cursor: pointer;
  width:vw(100);
  height:vw(160);
  background:#6c6;
  display: inline-block;
  position: absolute;
  word-break: break-all;
  line-height: vw(160);
  color:#FFFFFF;
  font-size: vw(20);
  text-align: center;
}

.sharp:after{
  content:"";
  width:0px;
  border-bottom:vw(80) solid transparent;
  border-top:vw(80) solid transparent;
  border-left-width:vw(40);
  border-left-style: solid;
  border-left-color:#6c6;
  position:absolute;
  right:vw(-40);
  top:0px;
}
