.antProSettingDrawerHandle {
  position: absolute;
  top: 240px;
  right: 0px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  background: #1890ff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  pointer-events: auto;
}
.leftTopBorder{
  position: absolute;
  top: -10px;
  left: -13px;
  height: 150px;
  width: 150px;
  border-top: 1.5px solid #2e6154;
  border-left: 1.5px solid #2e6154;
}
.leftTopOverBorder{
  position: absolute;
  top: -20px;
  left: -33px;
  height: 160px;
  width: 155px;
  border-top: 1.5px solid #579fa2;
  border-left: 1.5px solid #579fa2;
}
.topBorder{
  position: absolute;
  top: -10px;
  left: 240px;
  width: 60px;
  border-top: 1.5px solid #2e6154;
}
.topOverBorder{
  position: absolute;
  top: -20px;
  left: 230px;
  width: 60px;
  border-top: 1.5px solid #579fa2;
}
.leftBottomBorder{
  position: absolute;
  bottom: -10px;
  right: -13px;
  height: 150px;
  width: 150px;
  border-bottom: 1.5px solid #2e6154;
  border-right: 1.5px solid #2e6154;
}
.leftBottomOverBorder{
  position: absolute;
  bottom: -20px;
  right: -33px;
  height: 160px;
  width: 155px;
  border-bottom: 1.5px solid #579fa2;
  border-right: 1.5px solid #579fa2;
}
.bottomBorder{
  position: absolute;
  bottom: -10px;
  right: 240px;
  width: 60px;
  border-bottom: 1.5px solid #2e6154;
}
.bottomOverBorder{
  position: absolute;
  bottom: -20px;
  right: 230px;
  width: 60px;
  border-bottom: 1.5px solid #579fa2;
}

