.real{
  width: 100%;
  height: 180px;
  transition: all 0.3s;
}
.real:hover{
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(119, 255, 189, 0.35);
  transform: translateZ(15px) translateY(-5px) translateX(-5px);
}
.simulation{
  width: 100%;
  height: 180px;
  transition: all 0.3s;
}
.simulation:hover{
  cursor: pointer;
  box-shadow: 0 10px 12px rgba(24, 144, 255, 0.4);
  transform: translateZ(15px) translateY(-5px) translateX(-5px);
}
.solution{
  width: 100%;
  height: 180px;
  transition: all 0.3s;
}
.solution:hover{
  cursor: pointer;
  box-shadow: 0 10px 12px rgba(220, 20, 60, 0.4);
  transform: translateZ(15px) translateY(-5px) translateX(-5px);
}
.cardHidden{
  opacity: 0;
  transform: translateY(-25px) translateX(-15px);
}
.cardShow{
  opacity: 1;
  transform: translateY(0) translateX(0);
}
